table, th, td {
  border:1px solid rgb(102, 84, 10);
  color: rgb(9, 28, 107);
  font-size: larger;
  background-color: rgb(235, 235, 240);
  padding: 10px;
}

section {
  text-align: center;
}

h1 {
  color: rgb(193, 18, 31);
  background-color: rgb(253, 240, 213);
  text-align: center;
}

#top {
  color:rgb(193, 18, 31);
  background-color: rgb(253, 240, 213);
  text-align: center;
  font-size: 75px;
}

#charname {
  text-align: center;
  color: rgb(255, 0, 0);
}

p {
  color: rgb(253, 240, 213);
  text-align: center;
}

#charselect {
  text-align: center;
  color: rgb(120, 0, 0)
}

.lm {
  background-color: rgb(130, 140, 196);
}


#qcr {
  position: relative;
}

#qcrd {
  display: none;
  background-color: #f9f9f9;
  color: black;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 16px;
  font: 20px;
}

#qcr:hover #qcrd {
  display: inline-flex;
}

#qcl {
  position: relative;
}

#qcld {
  display: none;
  background-color: #f9f9f9;
  color: black;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 16px;
}

#qcl:hover #qcld {
  display: inline-flex;
}

#RyuMini {
  text-align: center;
}


footer {
  color: orange;
}